<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @film.name %>
</p>

<p>
  <b>Release date:</b>
  <%= @film.release_date %>
</p>

<p>
  <b>Review:</b>
  <%= @film.review %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
